* {
	padding: 0;
	margin: 0;
}

.header {
	width: 100%;
	height: 70px;
	background-color: rgb(13, 13, 13, 0.7);
	min-width: 1200px;
}

.hea {
	width: 75%;
	height: 70px;
	margin: 0 auto;
}

.hea_l {
	float: left;
	width: 35%;
	height: 70px;
}

.hea_r {
	float: left;
	width: 65%;
	height: 70px;
}

.hea_r ul li {
	float: left;
	list-style: none;
	line-height: 70px;
	padding-right: 3%;
}

a {
	text-decoration: none;
	color: azure;
}

.content {
	min-width: 1200px;
	width: 100%;
	height: 800px;
}

.content img {
	width: 100%;
	height: 800px;
}

.content_the {
	width: 100%;
	height: 1200px;
	min-width: 1000px;
	margin: 0 auto;
}

.content_the_c {
	width: 80%;
	height: 400px;
	margin: 0 auto;
}

.content_the_c_txt {
	width: 100%;
	height: 500px;
	margin: 0 auto;
}

.content_the_c_txt p {
	width: 100%;
	height: 50px;
	text-align: center;
	font: "微软雅黑";
	font-size: 30px;
	line-height: 50px;
}

.content_the_c_l {
	width: 55%;
	height: 400px;
	float: left;
}

.content_the_c_l img {
	width: 100%;
	height: 400px;
}

.lun_b{
	background-color: rgb(13, 13, 13, 0.667);
	width: 100%;
	height: 100px;
}

.content_the_c_r {
	width: 45%;
	height: 500px;
	float: left;
	background-color: rgb(13, 13, 13, 0.667);
}

.hot {
	width: 70%;
	height: 500px;
}

.hot_top {
	width: 100%;
	height: 50px;
}

.hot_top ul li {
	float: left;
	line-height: 50px;
	padding-right: 10%;
}

.hot_top ul li {
	list-style: none;
}

.hot_topul ul li a {
	text-decoration: none;
}

.hot_top ul li a:hover {
	text-decoration: underline;
	color: gold;
}

.hot_txt {
	padding-left: 8%;
}

.hr {
	width: 100%;
	height: 1px;
	border: 1px;
	background: #000000;
	z-index: 999;
}

.hot_bottom {
	padding-top: 20px;
	width: 100%;
	height: 429px;
}

.hot_bottom_top {
	width: 85%;
	height: 49px;
	margin: 0 auto;
	background-color: rgb(13, 13, 13, 0.469);
}

.hot_bottom_top p {
	font-size: 16px;
	color: #FFD700;
}

.hot_bottom_bottom{
	width: 100%;
	height: 380px;
	padding-left: 7.5%;
}

.hot_bottom_bottom ul li {
	padding-top: 18px;
	list-style: none;
}	

.span1{
	border: 1px solid yellow;
	color: yellow;
}

.content_l {
	width: 55%;
	height: 400px;
	float: left;
}

.content_l img {
	width: 100%;
	height: 400px;
}

.content_r {
	width: 45%;
	height: 400px;
	float: left;
}

.content_r_top {
	width: 100%;
	height: 200px;
}

.content_r_b {
	width: 100%;
	height: 200px;
}

.content_r_top img {
	width: 100%;
	height: 100%;
}

.content_r_b img {
	width: 100%;
	height: 100%;
}


/*轮播图*/

.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}