* {
	padding: 0;
	margin: 0;
}

.header {
	width: 100%;
	height: 70px;
	background-color: rgb(13, 13, 13,0.7);
	min-width: 1200px;
}

.hea {
	width: 75%;
	height: 70px;
	margin: 0 auto;
}

.hea_l {
	float: left;
	width: 35%;
	height: 70px;
}

.hea_r {
	float: left;
	width: 65%;
	height: 70px;
}

.hea_r ul li {
	float: left;
	list-style: none;
	line-height: 70px;
	padding-right: 3%;
}

a {
	text-decoration: none;
	color: black;
	color: azure;
}

.content {
	min-width: 1200px;
	width: 100%;
	height: 800px;
}

.content img {
	width: 100%;
	height: 800px;
}

.content_the{
	width: 100%;
	height: 1200px;
	min-width: 1000px;
	margin: 0 auto;
}
.content_the_c{
	width: 80%;
	height: 400px;
	margin: 0 auto;
}
.content_the_c_txt{
	width:100%;
	height: 600px;
	margin: 0 auto;
}
.content_the_c_txt p{
	width: 100%;
	height: 50px;
	text-align: center;
	font: "微软雅黑";
	font-size: 30px;line-height: 50px;
}
.content_the_c_l{
	width: 55%;
	height: 400px;
}
.content_the_c_l img{
	width: 100%;
	height: 400px;
}
.content_the_c_r{
	
}
.content_l{
	width: 55%;
	height: 400px;
	float: left;
}
.content_l img{
	width: 100%;
	height: 400px;
}
.content_r{
	width: 45%;
	height: 400px;
	float:  left ;
}
.content_r_top{
	width: 100%;
	height: 200px;
}
.content_r_b{
	width: 100%;
	height: 200px;
}
.content_r_top img{
	width: 100%;
	height: 100%;
}
.content_r_b img{
	width: 100%;
	height: 100%;
}

/*轮播图*/

.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
